body {
  overflow-x: hidden;
}

.logo-small{
  width: 100px;
}

.nav-background {
  background-color: #333d47;
}

.btn {
  color: white;
  background-color: #333d47;
}

.navbar-nav {
  margin-left: auto;
  text-align: center;
}

.nav-item {
  padding-right: 15px!important;
  color: white;
  margin: auto auto;
}

.nav-link {
  color: white!important;
}

.nav-link.active {
  color: white!important;
  font-weight: 700;
}

.nav-link:hover {
  color: #ff5000!important;
}

.navbar-icon {
  width: 50px;
}

.nav li a:hover {
  background-color: #333d47;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0 0 10px 0;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff5000; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #eb0000; 
}